<section id="top-bar" class="py-2">
    <div class="level">
        <div class="level-item">
            <i class="fas fa-phone pr-2"></i>
            (617)-555-5555
        </div>

        <div class="level-item">
            <i class="fas fa-envelope-open pr-2"></i>
            help@monterrey.com
        </div>


        <div class="level-item">

            <a href="https://www.twitter.com">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="https://www.facebook.com">
                <i class="fab fa-facebook pl-2"></i>
            </a>

            <a href="https://www.instagram.com">
                <i class="fab fa-instagram pl-2"></i>
            </a>

            <a href="https://www.pinterest.com">
                <i class="fab fa-pinterest pl-2"></i>
            </a>
        </div>
    </div>
</section>