{% extends 'base.html' %}
{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title" style="color: white">
        About Monterrey's Virtual Queue
      </h1>
      <p class="subtitle" style="color: white">
        Monterrey's Covid-19 Initiatives
      </p>

      <p style="font-size: 13px;">Monterrey's recognizes
        the necessity for extra safety precautions to protect it's customers
        and employees. <a href="https://www.nc.gov/covid-19/staying-ahead-curve/phase-3-faqs#what-remains-the-same-under-phase-3">Per Governor Roy Cooper:</a> "Restaurants remain
        subject to capacity limits and other requirements for in-person dining. Face coverings
        are still required in public when it is not possible to maintain social distancing from non-household members.
        In Phase 3, this requirement applies to any public place or business - indoor or outdoor. Alcohol sales are required to cease from 11 p.m. to 7 a.m."
        Additionally, Monterrey requires each guest to wear a face mask unless they are seated at their table. This includes if the 
        guest goes to the bathroom. Monterrey prohibits parties greater than 6 people. If you have a larger party you must sit at different tables and enter the waitlist system separately.
        If you do not have a smart phone to enter the waitlist, please see the hostess inside for assistance.
      </p>
    </div>
  </section>
{% endblock %}