{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <!--ALERTS-->
    {% include 'partials/_alerts.html' %}

    <h1 class="title" style="color: white">
      Welcome to Monterrey's Waiting List
    </h1>
    <p class="subtitle" style="color: white">
      Here's how it works:
    </p>

    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-sign-in-alt icon is-large" style="float:left"></i>
          <p class="title">Step 1</p>
          <p class="subtitle">Login or Sign up</p>
        </article>
      </div>
    </div>
    
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-search-location icon is-large" style="float:left"></i>
          <p class="title">Step 2</p>
          <p class="subtitle">Choose your party size and Monterrey location</p>
        </article>
      </div>
    </div>

    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-check-circle icon is-large" style="float:left"></i>
          <p class="title">Step 3</p>
          <p class="subtitle">Wait for your turn to enter the restaurant and be seated by the host.</p>
        </article>
      </div>
    </div>

    </div>
  </div>
</section>

<!--<body>
<h1 class="center">Welcome to Monterrey's Waiting List</h1>
<div style="float:left; padding-right:30px;">
<h2>Already have an account?</h2>
<form class="form">
    <div class="field">
            <div class="padding">
            <label class="label">Type your username</label>
            <div class="control">
            <input class="input" type="text" placeholder="Username">
            </div>
            </div>
            <div class="padding">
            <label class="label">Type your password</label>
            <div class="control">
            <input class="input" type="text" placeholder="Password">
            </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
              </div>
          </form>
        </div>
    </div>
    <div style="float:left;">
    <h2>New to our waiting list?</h2>
    <form class="form">
    <div class="field">
        <div class="padding">
        <label class="label">Create a username</label>
        <div class="control">
        <input class="input" type="text" placeholder="Username">
        </div>
        </div>
        <div class="padding">
        <label class="label">Create a password</label>
        <div class="control">
        <input class="input" type="text" placeholder="Password">
        </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
      </form>
    </div>
</div>
</body>-->
{% endblock %}