{% extends 'base.html' %}
{% block content %}
<body>
<h1 class="center">Welcome to Monterrey's Waiting List</h1>
    <h2>Already have an account?</h2>
    <div class="field">
        <form action="action_page.php">
            <label class="label">Type your username</label>
            <div class="control">
            <input class="input" type="text" placeholder="Username">
            </div>
            <label class="label">Type your password</label>
            <div class="control">
            <input class="input" type="text" placeholder="Password">
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
              </div>
          </form>
        </div>
    <h2>New to our waiting list?</h2>
    <div class="field">
    <form action="action_page.php">
        <label class="label">Create a username</label>
        <div class="control">
        <input class="input" type="text" placeholder="Username">
        </div>
        <label class="label">Create a password</label>
        <div class="control">
        <input class="input" type="text" placeholder="Password">
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
      </form>
    </div>
</body>
{% endblock %}