{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <!--ALERTS-->
    {% include 'partials/_alerts.html' %}

    <h1 class="title" style="color: white">
      Welcome to Monterrey's Waiting List
    </h1>
    <p class="subtitle" style="color: white">
      Here's how it works:
    </p>

    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-sign-in-alt icon is-large" style="float:left"></i>
          <p class="title">Step 1</p>
          <p class="subtitle"><a href="../accounts/login">Login</a> or <a href="../accounts/register">Sign up</a></p>
        </article>
      </div>
    </div>
    
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-search-location icon is-large" style="float:left"></i>
          <p class="title">Step 2</p>
          <p class="subtitle">Choose your party size and Monterrey location</p>
        </article>
      </div>
    </div>

    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <i class="fas fa-check-circle icon is-large" style="float:left"></i>
          <p class="title">Step 3</p>
          <p class="subtitle">Wait for your turn to enter the restaurant and be seated by the host.</p>
        </article>
      </div>
    </div>

    </div>
  </div>
</section>
{% endblock %}