{% extends 'base.html' %}
{% block title %}| In-line {% endblock %}
{% block meta %}
  <meta http-equiv="refresh" content="60" >
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBReo_UAxCEdi2Gr3fLF5_8smIX1eu1lGY&callback=initMap&libraries=&v=weekly"
      defer></script>
{% endblock meta %}
{% block content %}
  <section class="section">
    <div class="container">
      {% if user_position == 0 %}
        <h1 class="title has-text-white">You are next in line.</h1>
      {% else %}
        <h1 class="title has-text-white">There are currently {{ user_position }} people ahead of you inline.</h1>
      {% endif %}
      <progress class="progress is-large is-primary" value="{{ progress_bar_value }}" max="100"></progress>
      <h2 class="subtitle has-text-white">Find directions to the {{ user_location }} location here:</h2>
      <div class= "columns">
          <div class="column is-half mt-2" id="map"></div>
          <!-- add directions here -->
          <div class="column has-text-centered pt-6">
            <h2 class="subtitle has-text-white">You will be notified as soon as a table becomes available.</h2>
            <h2 class="has-text-white">Changed your mind?</h2>
            <div class="field pb-5 pt-5">
              <p class="control">
                <a class="button is-danger" href="javascript:{document.getElementById('leavelist').submit()}">
                  Leave Waitlist
                </a>
                <form action="{% url 'inlist' %}" method="POST" id="leavelist">
                  {% csrf_token %}
                  <input type="hidden"> 
                </form>
              </p>
            </div>
          </div>
      </div>
    </div>

    <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: {{ map_lat }}, lng: {{ map_lng }} },
          zoom: 18,
        });
      }
    </script>
  </section>
{% endblock %}