{% extends 'base.html' %}
{% block title %}| Join line {% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
        <!--ALERTS-->
      {% include 'partials/_alerts.html' %}
      <div class="level">
        <div class="level-left">
        <form action="{% url 'waitlist' %}" method="POST">{% csrf_token %}

          <div style="width:300px; padding-bottom: 10px; padding-left: 20px">
            <h1 class="title" style="color: white; padding-top:5px">
              Enter the Waitlist
            </h1>
            <div class="field">
              <label class="label" for="location" style="color: white">Location</label>
              <div class="select">
                <select id="location" name="location">
                  <option value="Carrboro">Carrboro</option>
                  <option value="Chapel Hill">Chapel Hill</option>
                </select> 
              </div>         
            </div>
            
            <div class="field">
              <label class="label" for="party_size" style="color: white">Party Size</label>
              <div class="select">
              <select id="party_size" name="party_size">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>  
          </div>      
                </div>
      
                <div class="field pt-2" style="padding-bottom:5px">
                    <p class="control">
                      <button class="button is-success">
                        Join Waitlist
                      </button>
                    </p>
                  </div>
                </div>
        </form>
      </div>

      <div class="level-right pt-5">
        <img src="https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com/2711ae53-e08a-4baa-9f00-74112043b526/orig.jpg&quality=90&w=1500&h=900&mode=crop&format=jpg&v=4" width=750 height=900>
      </div>
      </div>
    </div>
  </section>
{% endblock %}